.appimg {
  justify-self: flex-end;
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 672px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  animation: handSiup 2s;
  display: flex;
  justify-content: center;

  img {
    position: absolute;
    bottom: -25px;
    height: 100%;
    width: auto;
    animation: handRotation 4s infinite;
  }
}
@keyframes handSiup {
  from {
    bottom: -1000px;
  }
  to {
    bottom: 0;
  }
}

@keyframes handRotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
