footer {
  display: none;
  @media (max-width: 1000px) {
    display: flex;
  }
  width: 100%;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  img {
    height: 120px;
    display: block;
  }
}
