.main {
  padding: 40px;
  width: 100%;
  max-width: 530px;

  &__title {
    font-size: 72px;
    line-height: 76px;
    @media (max-width: 450px) {
      font-size: 60px;
      line-height: 64px;
    }
    @media (max-width: 375px) {
      font-size: 48px;
      line-height: 52px;
    }
    color: $neutrals400;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 28px;
    color: $primary;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 16px;
    line-height: 20px;
    color: $neutrals300;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    &__input {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      label {
        &.input {
          display: block;
          width: 50px;
          text-transform: uppercase;
          color: $neutrals400;
          font-weight: 600;
          font-size: 14px;
        }
        &.check {
          color: $neutrals300;
          font-weight: 300;
          font-size: 11px;
          cursor: pointer;
        }
      }
      input {
        &[type="text"],
        &[type="email"] {
          width: calc(100% - 50px);
          border: 2px solid $primary;
          height: 40px;
          border-radius: 8px;
          padding: 0 10px;
        }
        &[type="checkbox"] {
          cursor: pointer;
          align-self: flex-start;
          position: relative;
          appearance: none;
          border: 2px solid $primary;
          border-radius: 2px;
          padding: 10px;
          margin: 0 13px;
          &:checked {
            background-color: $primary;
          }
        }
        &[type="submit"] {
          margin-top: 10px;
          background-color: $primary;
          color: $neutrals100;
          text-transform: uppercase;
          font-weight: 800;
          width: 100%;
          border: none;
          height: 40px;
          border-radius: 8px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
