.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  &__logo-lf {
    display: flex;
    align-items: center;
    margin-left: 40px;
    &__img {
      height: 100px;
    }
    &__title {
      margin-left: 20px;
      line-height: 24px;
      font-size: 24px;
      @media (max-width: 500px) {
        font-size: 16px;
        line-height: 20px;
      }
      color: $neutrals400;
      font-weight: 600;
    }
  }
  &__menu {
    display: flex;
    margin-right: 200px;
    @media (max-width: 1000px) {
      display: none;
      &.open {
        display: flex;
      }
    }

    @media (max-width: 1000px) {
      position: fixed;
      top: 165px;
      background-color: $neutrals400;
      width: 100%;
      flex-direction: column;
    }
    list-style-type: none;
    &__item {
      @media (max-width: 1000px) {
        margin-left: 50px;
      }
      &__link {
        display: block;
        text-decoration: none;
        color: $neutrals100;
        padding: 10px;
      }
    }
  }
  &__menuBtn {
    @media (min-width: 1000px) {
      display: none;
    }
    width: 40px;
    height: 40px;
    margin-right: 40px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/menu.svg");
    border: none;
    cursor: pointer;
  }
  &__logo-fast {
    position: absolute;
    right: 0;
    animation: fastShow 0.5s ease-in-out;
    @media (max-width: 1000px) {
      display: none;
    }
    background-color: $neutrals100;
    width: 175px;
    height: 150px;
    padding: 20px 0 20px 30px;
    border-radius: 10px 0 0 10px;
    &__img {
      height: 100%;
    }
  }
}

@keyframes fastShow {
  from {
    right: -175px;
  }
  to {
    right: 0;
  }
}
