@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables";
@import "nav";
@import "main";
@import "appimg";
@import "footer";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(/img/bg.png);
  background-position: 35% center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1000px) {
    backdrop-filter: saturate(50%) blur(50px) brightness(110%);
  }
}

.container {
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  @media (min-width: 1000px) {
    grid-template-columns: 490px 1fr;
  }
}
